{% extends "base.html" %}

{% block title %}FitScore - Home{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container py-5">
        <header class="header">
            <div>
                <h1 class="display-4">Welcome to FitScore!</h1>
                <p class="lead">Track your fitness journey and compete with friends.</p>
            </div>
            <a href="{{ url_for('log') }}" class="btn btn-primary btn-lg mt-3 d-flex align-items-center justify-content-center">Log Your Exercise</a>
        </header>
        <div class="dash-grid">
            <div class="panel">
                <h2 class="h5">Performance Matrix</h2>
            </div>
            <div class="panel">
                <h2 class="h5">Statistics</h2>
            </div>
            <div class="panel">
                <h2 class="h5">Recent Friend Activity</h2>
            </div>
            <div class="panel">
                <h2 class="h5">Friends Leaderboard</h2>
            </div>
            <div class="panel">
                <h2 class="h5">Your Last Workout</h2>
            </div>
        </div>
    </div>

{% endblock %}
