{% extends "base_auth.html" %}

{% block title %}FitScore - Login{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container d-flex flex-grow-1 py-5">
        <div class="page-wrapper">
            <p class="login-subtitle">Please enter your details</p>
            <h1 class="login-title">Welcome back!</h1>

            <!-- Login Form -->
            <form method="POST" action="/login" id="loginform">
                <!-- Username -->
                <div class="form-group">
                    <label for="user"><b>Username</b></label>
                    <input type="text" id="user" name="username" placeholder="Username" required>
                </div>

                <!-- Password -->
                <div class="form-group">
                    <label for="password"><b>Password</b></label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>

                <!-- Remember Me and Forgot Password -->
                <div class="remember-forgot">
                    <label for="remember" class="remember-label">Remember me
                    <input type="checkbox" id="remember" name="remember" value="true">
                    </label>
                    <a href="#" class="forgot-link">Forgot password?</a>
                </div>

                <!-- Submit -->
                <button type="submit" class="loginpage-btn-login">Log In</button>

                <!-- Register Link -->
                <p class="register-text"><b>Don't have an account?</b> <a href="{{ url_for('register') }}">Sign up</a></p>
            </form>
        </div>
    </div>

{% endblock %}
